# Global options
{
    # Enable automatic HTTPS
    auto_https off
}

:80 {
    reverse_proxy localhost:8080
}

# Plex Media Server
:32400 {
    reverse_proxy localhost:32400
}

# Sonarr
:8989 {
    reverse_proxy localhost:8989
}

# qBittorrent
:8081 {
    reverse_proxy localhost:8081
}

# Gluetun HTTP Proxy
:8888 {
    reverse_proxy localhost:8888
}